html {
    background-image: url('../images/cs2/cs2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    scroll-padding-top: 80px
}

.main-nav {
    z-index: 999;
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.active {
    background-color: rgba(82, 82, 82, 0.3);
    color: #f1b86d;
}


li {
    float: left;
}

.esports-nav {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #333;
}

.esports-nav a:hover {
    background-color: #121212 !important;
}


header {
    position: relative;
    top: 10px;
}

header>p {
    padding: 25px;
    margin: 0px;
    text-align: left;
    font-size: 35px;
    color: #e9921f;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav a:hover {
    color: #e9921f;
    text-decoration: underline;
}

nav>a:link,
nav>a:visited,
nav>a:active {
    text-decoration: none;
    color: #f1b86d;
}

article a:link,
article a:visited,
article a:active {
    text-decoration: none;
    color: #f1b86d;
}

nav>a:hover,
article>a:hover {
    color: #e9921f;
    text-decoration: underline;
}

.nav-item {
    padding: 1.1rem;
}

#img-head {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main-header {
    max-width: 75%;
    margin: auto;
    color: rgb(0, 0, 0);
}

#top-head {
    padding-top: 0;
    padding-bottom: 0;
}

main {
    max-width: 75%;
    margin: auto;
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(82, 82, 82, 0.65);

}


h4 {
    color: #f0c894;
}

section>h3 {
    color: #f1b86d;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: #e9921f;
}

.hero-table {
    text-align: center;
}

table,
td,
th {
    margin: auto;
    border: 1px solid slategrey;
}

footer {
    background-color: #252525;
    padding: 1px;
    text-align: center;
    color: white;
}





/* LANCE CSS */



h1 {
    text-align: center;
    color: #f1b86d
}


body {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
    border: 2px solid #000;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%
}

.main-nav ul {
    background-color: #000000;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


#sub-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

#overview {
    display: flex;
}

#tournaments {
    text-align: center;
    color: #e9921f;
}



nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.nav-item:nth-child(1) {
    background-color: rgba(82, 82, 82, 0.65);
}


.nav-item {
    width: 100px;
    margin: 7px;
    border: 2px solid black;
    text-align: center;
}

.nav-item-1 {
    min-height: 50px;
}

.nav-item-2 {
    min-height: 50px;
}

.nav-item-3 {
    min-height: 50px;
}

.nav-item-4 {
    min-height: 50px;
}

.nav-item-5 {
    min-height: 50px;
}

.nav-item-6 {
    min-height: 50px;
}


@media screen and (max-width: 960px) {
    nav {
        display: none;
        color: #000000;

    }

    body {
        margin: auto;
    }

    .tournas {
        column-count: 1;
        font-size: 6px;
    }
}
 




.p1 {
    display: grid;
    grid-template-areas: "gameplay gamemodes"   ;
}

#Gameplay {
    grid-area: gameplay;
    margin-right: 1rem;
}

#GameModes {
    grid-area: gamemodes;
}

.p2 {
    display: grid;
    grid-template-areas: "mirage nuke";
}

#mirage {
    grid-area: mirage;
    margin-right: 1rem;
}

#nuke {
    grid-area: nuke;
}

.p3 {
    display: grid;
    grid-template-areas: "ovp vtg";
}

#ovp {
    grid-area: ovp;
    margin-right: 1rem;
}

#vtg {
    grid-area: vtg;
}

.p4 {
    display: grid;
    grid-template-areas: "act ifn";
}

#act {
    grid-area: act;
    margin-right: 1rem;
}

#ifn {
    grid-area: ifn;
}

.p5 {
    display: grid;
    grid-template-areas: "anb .";
}
/* gawen nalang tong column count */
#anb {
    grid-area: anb;
    margin-right: 1rem;
    column-count: 2;
}

