html {
    /* background-image: url('./images/dota2_bg.jpg'); */
    /* background-image: url('./images/dota2_bg.gif');
    background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    scroll-padding-top: 25px;
}

body {
    /* max-width: 75%; */
    margin: auto;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.main-nav {
    z-index: 999;
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.active {
    background-color: rgba(82, 82, 82, 0.3);
    /* color: #e9921f; */
    color: #ff7c5f;
    /* Valorant color */
    /* color: #DC4747;  */
}

ul {
    background-color: #121212;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /* Change color */
    align-items: center;
}

li {
    float: left;
}
  
.esports-nav {
    display: block;
    color: white;
    text-align: center;
    /* padding: 20px 16px; */
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #333;
}

.esports-nav a:hover {
    background-color: #121212 !important;
}



video {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
}

header {
    /* border: 2px solid slategrey; */
    position: relative;
    top: 10px;
}

header > p {
    /* background-color: #666; */
    /* background-color: rgba(28, 28, 28, 0.9); */
    padding: 25px;
    margin: 0px;
    text-align: left;
    font-size: 35px;
    /* color: #f1b86d; */
    /* color: #e9921f; */
    color: #ff7c5f;
}

nav {
    /* background: #ccc; */
    /* background-color: #666; */
    /* background-color: rgba(28, 28, 28, 0.9); */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav a:hover {
    /* background-color: #ddd; */
    /* color: #e9921f; */
    color: white;
    text-decoration: underline;
}

/* Dota Navigation Bar */
nav > a:link, nav > a:visited, nav > a:active {
    text-decoration: none;
    /* color: #f1b86d; */
    color: #f8ff98;
}

article a:link, article a:visited, article a:active {
    text-decoration: none;
    /* color: #f1b86d; */
    color: #f8ff98;
}

/* Dota Nav + Article Hover */
nav > a:hover, article > a:hover {
    /* background-color: #ddd; */
    /* color: #e9921f; */
    color: #ffad9b;
    text-decoration: underline;
}

.dota-nav {
    background-color: rgba(95, 17, 17, 0.75);
    border-radius: 0.5rem;
    margin: 2px;
    border: 1px solid rgb(99, 27, 1);
    font-size: 15px;
    /* font-weight: bold; */
    /* padding: 1.1rem; */
    padding: 0.5rem;
}
  
#img-head {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.dota-header {
    max-width: 75%;
    margin: auto;
    color: white;
}

#top-head {
    padding-top: 0;
    padding-bottom: 0;
}

main {
    max-width: 75%;
    margin: auto;
    /* border: 2px solid slategrey; */
    /* padding: 30px; */
    /* background-color: rgba(241, 241, 241, 0.6); */
    background-color: rgba(28, 28, 28, 0.9);
    color: white;
}

img {
    max-width: 100%;
}

article {
    padding: 30px;
    margin: 0px;
    /* background-color: #f1f1f1; */
}

article:nth-child(odd) {
    background-color: rgba(82, 82, 82, 0.3);
}

h4 {
    /* color: #f0c894; */
    /* color: #ffad9b; */
    color: #f8ff98;
}

section > h3 {
    /* color: #f1b86d; */
    /* color: #f1b86d; */
    /* color: #ffad9b; */
    color: #f8ff98;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* color: #f1b86d; */
    /* color: #e9921f; */
    color: #ff7c5f;
}

.hero-table {
    text-align: center;
}

table, td, th {
    margin: auto;
    border: 1px solid slategrey;
}

#back-to-top {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 1px;
    text-align: center;
    color: white;
}
